// 背景
@bg-white-0: var(--white-0);
@bg-black-1: var(--black-1);
@bg-gray-1: var(--gray-1);
@bg-red-5: var(--red-5);
@bg-red-6: var(--red-6);
@bg-blue-5: var(--light-blue-5);
@bg-blue-3: var(--light-blue-3);

// 标题
@h-blue-3: var(--light-blue-3);

// 文字
@text-white-0: var(--white-0);
@text-black-0: var(--black-0);
@text-gray-3: var(--gray-3);
@text-gray-4: var(--gray-4);
@text-gray-7: var(--gray-7);
@text-gray-8: var(--gray-8);
@text-blue-5: var(--light-blue-5);

// 导航条
@line-white-0: var(--white-0);
@line-gray-2: var(--gray-2);
@line-gray-3: var(--gray-3);
@line-blue-4: var(--light-blue-4);
@line-green-4: var(--light-green-4);

// 阴影
@shadow-gray-3: var(--gray-3);

// 遮罩
@mark-black-1: var(--black-0);

// 网页小宽高
@min-width: 1200px;
@min-height: 700px;
